body {
  background: rgb(106,106,106);
  background: linear-gradient(90deg, rgba(106,106,106,1) 0%, rgba(203,203,203,1) 33%, rgba(100,147,200,1) 100%); 
  
  /* background-color: #fefefe; */
}

.navigation-header {
    background-color: #4975a0;
    color: #FFF;
    align-items: center;
    
    
    
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
    
}

.navigation-header__link {
    color: #FFF;
    margin-right: 30px;
       /* display: inline-block; */
}
.navigation-header__date {
  /* display: inline-block; */
  float: right;
}

h2 {
  color: #1460aa;
}

.justify {
  text-justify: auto;
  text-align: justify;
}

.main {
  margin: 0 auto;
  width: 1024px;
}

.main__h1 {
  display: flex;
  
  justify-content: center;

}
.main__header {
  margin: 0 auto;
  
}
.main__image {
  margin: 0 auto;
  display: flex;
  height: 200px;

}

.blog {
  border: 1px solid #1460aa;
  padding: 5px;

}
.bold {
  font-weight: 900;
}

.article {
  padding: 10px 0;
  border-bottom: double;
  
}

.grid {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: "grid__h2 grid__h2"
                        "grid__h3 grid__text";
  
}

.grid__h2 {
  grid-area: grid__h2;
}


.grid__h3 {
  grid-area: grid__h3;
}


.grid__text{
  grid-area:  grid__text;
}

