body {
  
  
  background-color: #fefefe;
}

.navigation-header {
    background-color: #4975a0;
    color: #FFF;
    
    
}

.navigation-header__link {
    color: #FFF;
    margin-right: 30px;
    display: inline-block;
}

h2 {
  color: #1460aa;
}

.justify {
  text-justify: auto;
  text-align: justify;
}

.main {
  margin: 0 auto;
  width: 1178px;
}

.bold {
  font-weight: 900;
}

.article {
  padding: 10px 0;
  
}